<div class="create-container">
  <!-- Profile Information Section -->
  <div class="container">
    <div class="profile-info">
      <img class="profile-image" [src]="profilePic" alt="Profile Picture" />
      <div>
        <span class="username-label">You Are :</span>
        <h3 class="username">{{ username }}</h3>
      </div>
    </div>
  </div>

  <!-- Upload Section -->
  <div class="upload-section">
    <h2 class="upload-header">Upload Your Feed</h2>
    <input
      type="file"
      (change)="onFileSelected($event)"
      class="file-input"
      accept="image/*,video/*"
    />
    <input
      type="text"
      placeholder="Enter Caption"
      [(ngModel)]="caption"
      class="caption-input"
    />
    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <!-- Image or Video Preview -->
    <div *ngIf="imgPreview" class="image-preview-container">
      <img
        *ngIf="!isVideo(imgPreview)"
        [src]="imgPreview"
        class="image-preview"
        alt="Selected File Preview"
      />
      <video
        *ngIf="isVideo(imgPreview)"
        class="video-preview"
        controls
        [src]="imgPreview"
      ></video>
    </div>
  </div>

  <!-- Upload Progress Bar -->
  <div class="progress-container" *ngIf="isUploading">
    <div class="progress-bar" [style.width.%]="uploadProgress"></div>
  </div>

  <!-- Upload Success Message -->
  <div *ngIf="uploadSuccess" class="success-message">
    File uploaded successfully!
  </div>

  <!-- Upload Button -->
  <button
    (click)="uploadFile()"
    class="upload-button"
    [disabled]="isUploading || !imgPreview"
  >
    Upload Feed
  </button>

  <p class="info-text">
    You can change your default UserName and Profile Pic in the Profile Section.
  </p>
</div>
